In [5]:
import numpy as np
import pandas as pd

In [6]:
vine = pd.read_csv('data/vine_table.csv')

In [7]:
vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2.0,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4.0,0.0,0.0,N,N
2,RY8I449HNXSVF,5.0,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5.0,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5.0,0.0,0.0,N,Y

In [8]:
# Filtering for total_votes greater than 20.
greater_total_vine = vine[vine['total_votes']>=20]
greater_total_vine

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5.0,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5.0,22.0,22.0,N,N
9002013,R344669W03QZ47,4.0,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5.0,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N

In [19]:
# Filtering for all rows where the helpful votes divided by the total votes is greater than 50%.
greater_vote_vine = greater_total_vine[greater_total_vine['helpful_votes'] / greater_total_vine['total_votes'] >= 0.5]
greater_vote_vine

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5.0,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5.0,22.0,22.0,N,N
9002013,R344669W03QZ47,4.0,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5.0,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N

In [23]:
# Filtering for all rows where the review was written as part of the paid program.
paid_vine = greater_vote_vine[greater_total_vine['vine']=='Y']
paid_vine

C:\Users\John\AppData\Local\Temp/ipykernel_17644/1423020469.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  paid_vine = greater_vote_vine[greater_total_vine['vine']=='Y']

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7585,R1MAOLI5FJHAFM,4.0,249.0,261.0,Y,N
13291,R9PYAUDIBJVEC,4.0,12.0,22.0,Y,N
23444,R6V9SHMMG5M8F,5.0,101.0,110.0,Y,N
38024,R37PVLT6ELL5J4,4.0,181.0,209.0,Y,N
88492,R2FSFGWZF24V9,4.0,50.0,51.0,Y,N
...,...,...,...,...,...,...
8887352,R1S2HIHNB0FJC0,2.0,180.0,196.0,Y,N
8887434,R3ADVLGTBP0TNX,4.0,36.0,43.0,Y,N
8910450,R9OB51UW8R4EW,3.0,13.0,23.0,Y,N
8912079,R3OT72XT5WKCYN,5.0,27.0,40.0,Y,N
8912399,R2Y9JUXDM65FZW,2.0,17.0,30.0,Y,N

In [24]:
# Filtering for all rows where the review was not written as part of the paid program.
unpaid_vine = greater_vote_vine[greater_total_vine['vine']=='N']
unpaid_vine

C:\Users\John\AppData\Local\Temp/ipykernel_17644/1193024207.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  unpaid_vine = greater_vote_vine[greater_total_vine['vine']=='N']

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y
...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5.0,30.0,32.0,N,N
9002012,R3IP9GXD7NYPYR,5.0,22.0,22.0,N,N
9002013,R344669W03QZ47,4.0,35.0,37.0,N,N
9002015,R395SO3AVL1RRC,5.0,72.0,74.0,N,N
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N

In [27]:
# Total count of reviews in paid_vine
paid_vine['review_id'].count()

613

In [29]:
# Total count of reviews in unpaid_vine
unpaid_vine['review_id'].count()

64968

In [34]:
# paid_vine count of 5 star reviews.
paid_vine[paid_vine['star_rating']== 5.0].count()

review_id            222
star_rating          222
helpful_votes        222
total_votes          222
vine                 222
verified_purchase    222
dtype: int64

In [40]:
# unpaid_vine count of 5 star reviews.
unpaid_vine[unpaid_vine['star_rating']== 5.0].count()

review_id            30543
star_rating          30543
helpful_votes        30543
total_votes          30543
vine                 30543
verified_purchase    30543
dtype: int64

In [38]:
# paid_vine percentages of star reviews.
paid_vine['star_rating'].value_counts(normalize=True) * 100

5.0    36.215334
4.0    33.442088
3.0    19.086460
2.0     7.504078
1.0     3.752039
Name: star_rating, dtype: float64

In [41]:
# unpaid_vine percentages of star reviews.
unpaid_vine['star_rating'].value_counts(normalize=True) * 100

5.0    47.012375
1.0    21.632188
4.0    16.157185
3.0     8.782785
2.0     6.415466
Name: star_rating, dtype: float64